<aside id=info>
  <section class=info-title>
    <a href="/">darksi.de</a>
    <br/>
    of
    </br>
    Software Engineering
  </section>

  <section class=info-copyright>
    Copyright <a href="https://github.com/indutny">Fedor Indutny</a>,
    view <a href="http://opensource.org/licenses/mit-license.php">license</a>
  </section>

  <section class=info-credits>
    <i>Icons by: Bluetip Design from the Noun Project</i>
  </section>
</aside>
