<meta name=viewport content"width=device-width,initial-scale=1,maximum-scale=10" />

<title>{{title}}</title>

<link rel=alternate type="application/rss+xml" href="http://darksi.de/rss.xml" title="Fedor Indutny's blog">
<link rel=stylesheet href="/css/main.css" />
